*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Directory for testing CDK applications
cdk.context.json
cdk.json
cdk.out

#package-lock files
package-lock.json
pnpm-lock.yaml
yarn.lock
