# Ignore artifacts:
build
coverage
cdk.out

# Ignore all node_modules folders:
node_modules

# Ignore specific files:
*.min.js
*.map

# Ignore logs:
*.log

# Ignore environment variable files:
.env

# Ignore TypeScript build artifacts:
*.d.ts
*.js

#package-lock files
package-lock.json
pnpm-lock.yaml
yarn.lock